@import 'tailwindcss';

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

@keyframes border-spin {
  to {
    --border-angle: 360deg;
  }
}

.animate-border {
  animation: border-spin 4s linear infinite;
}
